<br>
<br>
<div class ="row">
    <div class="card col m8 offset-m2 s12 z-depth-2 red waves-effect waves-light">
            <div class="filter red" style="opacity: 0.7;">
                <div class="red-text text-darken-4 center">
                    <span style="font-size: 50px;">&lt; About /&gt;</span>
                </div>
            </div>
        <div class="card-content white-text flow-text">
            <div class="card-title">
                <h4>About</h4>
            </div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in.
            <br>
            <br> Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem. Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br>
            <br> Aliquam vel purus sagittis, eleifend ante quis, tempus lectus. Vivamus maximus nibh lectus, sed gravida sapien imperdiet in. Curabitur non purus rutrum, iaculis mauris ac, placerat turpis. Donec vel semper enim, ut ultrices sem.
            <br>
            <br> Fusce rutrum, justo id porta malesuada, purus erat gravida metus, sit amet viverra turpis lacus nec mi. Aliquam et mi vel ipsum mollis aliquam eu eget augue.
        </div>
    </div>
</div>
    