<br>
<br>
<div class ="row">
    <div class="card col m8 offset-m2 s12 z-depth-2 red waves-effect waves-light">
            <div class="filter red" style="opacity: 0.7;">
                <div class="red-text text-darken-4 center">
                    <span style="font-size: 50px;">&lt; About /&gt;</span>
                </div>
            </div>
        <div class="card-content white-text flow-text">
            <div class="card-title">
                <h4>About</h4>
            </div>
            CodeStalk is a weekend project, initial thoughts were made by my friend Shivam.
            <br>
            <br>Competitive Programming makes you competitive :P and I often visit my batchmates profile to see how many problems they have solved. To automate that process CodeStalk was built.
            <br>
            <br>CodeStalk sends email updates to let you know about recent successful submissions from users in your track list!
            <br>
            <a href="https://github.com/inventionsbyhamid/codestalk">Code on Github</a>
        </div>
    </div>
</div>
    