<div class="row">
<div class="col l6 offset-l3 m12 s12 center">
<h3>Stalk your friends!</h3>
<p>Get email updates when someone solves a problem!</p>
<h4><%= link_to 'Start Stalking',new_codechef_id_path %></h4>
</div>
</div>